activations/**
venv
__pycache__
.pytest_cache
.ipynb_checkpoints
.env
notebooks/scratch.ipynb
.vscode
finetuned_models
sync_model.sh
logs
.DS_Store
.hypothesis
*/.DS_Store
vectors/**/*.pt
erasers/*/*.pt
erasers/*/logit/*.pt
normalized_vectors/*/*.pt
normalized_vectors/*/logit/*.pt
results/**/*.json
analysis/**/*.*
output/**
