activations/**
venv
__pycache__
.pytest_cache
.ipynb_checkpoints
.env
notebooks/scratch.ipynb
.vscode
finetuned_models
sync_model.sh
logs
.DS_Store
.hypothesis
*/.DS_Store
vectors/**/*.pt
erasers/**/*.pt
normalized_vectors/**/*.pt
results/**/*.json
results*/**/*.json
analysis/**/*.*
output/**
0405
plots/*.png